<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="addItemModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="add-item-form" action="POST">
                    <div class="form-group">
                        <input name="description" class="form-control" type="text" placeholder="Item Description">
                        <input name="quantity" class="form-control" type="number" placeholder="Quantity">
                        <input name="ppu" class="form-control" type="number" placeholder="Price Per Unit">
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add Item</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<script src="/js/add-item.js"></script>