<table class="table">
    <thead>
        <tr>
            <th scope="col">Company</th>
            <th scope="col">Name</th>
            <th scope="col">Phone</th>
            <th scope="col">Email</th>
        </tr>
    </thead>
    <tbody>
        {{#each companies}}
            <tr>
                <th>{{name}}</th>
                <td>{{contact.name}}</td>
                <td>{{contact.phone}}</td>
                <td>{{contact.email}}</td>
            </tr>
        {{/each}}

    </tbody>
</table>