{{! Top Nav for mobile view }}
<nav class="navbar mobile-nav navbar-expand-sm navbar-light bg-light">
  <div class="d-flex justify-content-between">
    <a class="logo-name" href="/"><img class="mobile-logo" src="/img/icon-black.png" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="">
      <li class="nav-item">
        <a class="nav-link" href="/dashboard">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/dashboard/add-contact">Add Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/dashboard/add-company">Add Company</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/dashboard/edit/{{company.id}}">Edit Company</a>
      </li>
      <li class="nav-item">
        {{#if logged_in}}
          <a href="#" class="nav-link " id="logout-mobile"> Logout</a>
        {{else}}
          <a class="nav-link" href="/login">Login</a>
        {{/if}}
      </li>
    </ul>
  </div>
</nav>