<div id="emailModal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Send Invoice</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="">Invoice will be sent as an attachment</p>
                <form id="send-email-form" method="POST" action="/send">
                    {{msg}}
                    <div class="form-group">
                        <label for="senderEmail">To:</label>
                        <input type="email" class="form-control" id="senderEmail" placeholder="name@example.com">
                    </div>
                    <div class="form-group">
                        <label for="recipientEmail">From:</label>
                        <input type="email" class="form-control" id="recipientEmail" placeholder="name@example.com">
                    </div>
                    <div class="form-group">
                        <label for="subject">To:</label>
                        <input type="text" class="form-control" id="subject" placeholder="Subject">
                    </div>
                    <div class="form-group">
                        <label for="message">Message:</label>
                        <textarea class="form-control" id="message" rows="3"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="sendBtn">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="nodemailer.js"></script>