<link rel="stylesheet" href="/css/boxicon.css">
<link rel="stylesheet" href="/css/side-nav.css">

{{!-- Side Nav Desktop/iPad View --}}
<nav class="navbar-expand-lg sidebar mySidenav">
  <div class="logo-details mb-2">
    <a class="logo_name" href="/">
      <img src="/img/logo-white.png"></a>
    {{!-- <i class='bx bx-menu' id="btn"></i> --}}
    <i id="btn" class="fas fa-bars"></i>
  </div>
  <ul class="nav-list">
    <li>
      <a href="/dashboard"><i class="fas fa-tachometer-alt"></i><span class="menu-text">Dashboard</span></a>
    </li>
    <li>
      <a href="/dashboard/add-contact"><i id="add-contact-icon" class="far fa-address-book"></class></i><span
          class="menu-text">Add Contact</span></a>
    </li>
    <li>
      <a href="/dashboard/add-company"><i id="add-company-icon" class="far fa-plus-square"></i><span
          class="menu-text">Add Company</span></a>
    </li>
    <li>
      <a href="/dashboard/edit/{{company.id}}"><i id="add-company-icon" class="far fa-edit"></i><span
          class="menu-text">Edit Company</span></a>
    </li>

    {{!-- BACK BUTTON --}}
    <li>
      <a href="#" onclick="goBack()"><i class="fas fa-arrow-circle-left"></i><span class="menu-text">Back</span></a>
      <script>
        function goBack() {
          window.history.back();
        }
      </script>
    </li>
    {{!-- END BACK BUTTON --}}
  </ul>
</nav>


<script src="/js/side-nav.js"></script>