<h1>Add Project</h1>

<form id="add-project-form">
    <div class="form-group">
        <div class="form-group">
            <input type="text" class="form-control" id="title" placeholder="Project Title" />
            <input type="text" class="form-control" id="type" placeholder="Type" />
            <input type="text" class="form-control" id="price" placeholder="Price" />
            <input type="text" class="form-control" id="due-date" placeholder="Due Date (YYYY-MM-DD)" />

        </div>

    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-sm btn-primary m-2">Submit</button>
    </div>

</form>

<script src="/js/add-project.js"></script>