<h1>Add Company</h1>

<form id="add-company-form">
  <div class="form-group">
    <input type="text" class="form-control" id="company-name" placeholder="Company Name" />
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-sm btn-primary m-2">Submit</button>
  </div>

</form>

<script src="/js/add-company.js"></script>