<div class="row">
    <div class="col-12 col-md-6">
        <a href="/dashboard/add-company">
            <button class="btn btn-sm btn-primary"><i class="fas fa-plus mr-2"></i>Add Company</button>
        </a>
    </div>



    <div class="col-12 col-md-6 all-companies">
        <div class="card">
            <div class="card-header ">

                <h1>Companies</h1>
                {{>all-companies}}
            </div>
        </div>
    </div>
    <div class="col-12 all-contacts">

        <div class="">
            <div class="card-header">
                <h1>All Contacts</h1>
            </div>
            <div class="card-body">

                {{>all-contacts}}
            </div>
        </div>
    </div>
</div>
<div class="container-fluid welcome">

    <div class="row justify-content-center">


        <img src="/img/logo-black.png">

        <div class="col-12 text-center mt-3">

            <h5>To get started, add a company!</h5>
        </div>

    </div>
</div>

<script src="/js/dashboard.js"></script>