<div class="row">
    <div class="col-12 col-md-9">
        <a href="/dashboard/add-company">
            <button class="btn btn-sm btn-primary">Add New Company</button>
        </a>
        <h1>Companies</h1>
        {{>all-companies}}
        <h1>All Contacts</h1>
        {{>all-contacts}}
    </div>

</div>