 <body>
    <div class="jumbotron">
      <h1>Welcome to Arpad.com</h1> 
        <p>A modern invoicing platform for small businesses...</p> 
    </div>

    <div class="card">
      <div class="card-body">Create Invoices</div>
        <p>Create professional and organized invoices</p>
        <button class="create-button">Create Invoice</button>
    </div>
    <div class="card">
      <div class="card-body">List Products</div>
        <p>List and sell your products</p>
        <button class="create-button">Go to Products</button>
    </div>
    <div class="card">
      <div class="card-body">Save your Clients</div>
        <p>Store and save all of your clients information</p>
        <button class="create-button">Show all clients</button>
    </div>