<body class="text-cover">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <main role="main" class="inner cover d-flex flex-column text-center"> 
            <div>
            <img src="/img/logo-white.png">
            </div>
            <h1 class="cover-heading">Welcome to Arpad</h1>
            <p class="lead">Your all-in-one business management site.</p>
            <p class="lead">
                <a href="/dashboard" class="btn btn-lg btn-secondary">Get Started</a>
            </p>
        </main>

    </div>
</body>