<body class="text-cover">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <main role="main" class="inner cover d-flex flex-column text-center">
            <h1 class="cover-heading">Thank you for using </h1>
            <div>
                <img src="/img/logo-white.png">
            </div>
            <h2 class=" m-5">Goodbye!</h2>
            <p class="lead">
                <a href="/login" class="btn btn-lg btn-secondary">Login</a>
            </p>
        </main>

    </div>
</body>