<h1>Add Company</h1>

<form id="new-company-form">
  <div class="form-group">

    <input
      type="text"
      class="form-control"
      id="name"
      placeholder="company name"
    />
    <input
      type="text"
      class="form-control"
      id="company-contact-name"
      placeholder="company contact name"
    />

  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script src="/js/new-company.js"></script>