/* Google Font Link */

.add-company-partial {
  padding-top: 50px;
}

img {
  width: 60%;
}

.mobile-logo {
  width: 50px;
}

.dark-logo {
  width: 15%;
  float: right;
  padding: 10px;
  margin: 5px;
}

.row {
  display: flex;
}

.nav-link {
  color: white;
}

.custom-link {
  color: rgba(255, 255, 255, 0.808)!important;
}

.custom-link:hover {
  color: white!important;
}

a:hover {
  cursor: pointer;
}

.text-cover {
  background-color: rgb(5, 36, 92);
  color: white;
}

.cover-heading {
  text-align: center;
  padding: 20px;
}

.lead {
  text-align: center;
  padding: 10px;
}

#main {
  transition: margin-left .5s;
}

.mobile-nav {
  display: none;
}

ul {
  list-style: none;
}

.og-margin {
  margin-left: 85px;
}

.login-register {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  padding: 25px;
  border-radius: 15px;
}

.card {
  width: 500px;
  padding: 15px;
}

.hide {
  display: none !important;
}

@media (max-width: 576px) {
  .mobile-nav {
    display: block;
  }
  .nav-link {
    color: black;
  }
  .loggin_out {
    display: none;
  }
  .og-margin {
    margin-left: 0px;
  }
  .sidebar {
    display: none;
  }
}