.side-navbar {
    background-color: blue;
    height: 100vh;
    width: 100%;
    border-radius: 0px 5px 5px 0px;
}

.side-nav_logo {
    color: white;
}

.side-nav_name {
    color: white;
}

.side-navbar a {
    display: block;
    margin: 10px;
    padding: 10px;
    color: white;
}

.nav-link {
    color: white;
}

.custom-link {
    color: rgba(255, 255, 255, 0.808)!important;
}

.custom-link:hover {
    color: white!important;
}

a:hover {
    cursor: pointer;
}

.text-cover {
    background-color: rgb(5, 36, 92);
    color: white;
}

.cover-heading {
    text-align: center;
    padding: 20px;
}

.lead {
    text-align: center;
    padding: 10px;
}