/* Google Font Link */

.add-company-partial {
  padding-top: 50px;
}

img {
  width: 60%;
}

.dark-logo {
  width: 15%;
  float: right;
  padding: 10px;
  margin: 5px;
}

.row {
  display: flex;
}

.nav-link {
  color: white;
}

.custom-link {
  color: rgba(255, 255, 255, 0.808)!important;
}

.custom-link:hover {
  color: white!important;
}

a:hover {
  cursor: pointer;
}

.text-cover {
  background-color: rgb(5, 36, 92);
  color: white;
}

.cover-heading {
  text-align: center;
  padding: 20px;
}

.lead {
  text-align: center;
  padding: 10px;
}

#main {
  transition: margin-left .5s;
}

.og-margin {
  padding-left: 85px;
}