/* Google Font Link */

img {
  width: 60%;
}

.nav-link {
  color: white;
}

.custom-link {
  color: rgba(255, 255, 255, 0.808)!important;
}

.custom-link:hover {
  color: white!important;
}

a:hover {
  cursor: pointer;
}

.text-cover {
  background-color: rgb(5, 36, 92);
  color: white;
}

.cover-heading {
  text-align: center;
  padding: 20px;
}

.lead {
  text-align: center;
  padding: 10px;
}